<div>
  <h1>Password Reset, {{name}}</h1>
  <p>
    Someone (hopefully you) has requested a password reset for your account. 
    If this was you, please click the button below to set a new password:
  </p>
  <p>
    <a href="{{resetUrl}}" style="padding: 10px 20px; background-color: #2196F3; color: white; text-decoration: none; border-radius: 5px;">
      Reset Password
    </a>
  </p>
  <p>
    If you didn't request this, you can safely ignore this email. Your password will remain unchanged.
  </p>
  <p>
    This password reset link will expire in {{expiresIn}}.
  </p>
  <p>
    If the button doesn't work, you can also copy and paste this link into your browser:
    <br>
    <a href="{{resetUrl}}">{{resetUrl}}</a>
  </p>
</div>
